<script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "Stream Analyze Sweden AB",
    "url": "https://streamanalyze.com",
    "logo": "https://streamanalyze.com/assets/images/sa-tile.png",
    "image": "https://streamanalyze.com/assets/images/sa-london-view-1024.jpg",
    "foundingDate": "2015",
    "founders": [{
        "@type": "Person",
        "name": "Tore Risch"
      },
      {
        "@type": "Person",
        "name": "Erik Zeitler"
      },
      {
        "@type": "Person",
        "name": "Jan Nilsson"
      }
    ],
    "description": "Stream Analyze specialize in software for scalable and distributed on-line analyses of streamed data.",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Sysslomansgatan 8",
      "addressLocality": "Uppsala",
      "addressRegion": "Uppland Län",
      "postalCode": "753 11",
      "addressCountry": "Sweden"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "contactType": "Sales",
      "email": "info@streamanalyze.com",
      "url" : "https://streamanalyze.com/contact"
    },
    "sameAs": [
      "https://twitter.com/streamanalyze",
      "https://github.com/streamanalyze"
    ]
  }
</script>
