[Unit]
Description=sa.edge
After=network.target

[Service]
ExecStart=/home/pi/SA/models/pi0/start.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target