<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="section">
        <div class="col l4 s12">
          <h5 class="white-text">Contact</h5>
          <p class="white-text">
            Stream Analyze Sweden AB<br>
            Org.Nr: 559000-6481<br>
            Sysslomansgatan 8<br>
            753 11 Uppsala<br>
            Sweden<br>
            <a class="white-text" href="mailto:info@streamanalyze.com">info@streamanalyze.com</a>
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li>
              <a class="white-text" href="https://twitter.com/StreamAnalyze">Twitter</a>
            </li>
            <li>
              <a class="white-text" href="https://github.com/streamanalyze">GitHub</a>
            </li>
          </ul>
        </div>
        <div class="col l5 s12">
          <h5 class="white-text">About</h5>
          <p class="white-text">
            Stream Analyze provides a groundbreaking analytic engine built with efficiency and performance in mind. It lets you respond in real-time to anomalies in data flows or handle cpu-intensive operations on massive data volumes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2016 Stream Analyze Sweden AB
    </div>
  </div>
</footer>
