<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul class="left hide-on-med-and-down">
        <li><a href="/" class="logo hide-on-med-and-down">Stream Analyze</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/products/">Products</a></li>
        <li><a href="/research/">Research</a></li>
        <li><a href="/about/">About</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="">Stream Analyze</a></li>
        <li><a href="/products/">Products</a></li>
        <li><a href="/research/">Research</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse black-text">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
</div>
