.parallax-container {
  color: $white;
  height: auto;
  line-height: 0;
  min-height: 400px;

  .container {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  &.darken {
    background: $darken-image;
  }

  .section {
    width: 100%;
  }
}
