.usps {
  @extend .grey, .lighten-5;

  .section {
    padding-bottom: 2.92rem;
    padding-top: 2.92rem;

    .icon-wrapper {
      font-size: 6em;
    }
  }
}

.products_index {
  .card {
    .card-content {
      min-height: 200px;
    }
    .card-title {
      line-height: 1.4;
    }
  }
}
