// SCSS Starting Point
@import 'materialize/components/color';

$primary-color: color('grey', 'darken-3') !default;
$secondary-color: color('orange', 'accent-4') !default;
$white: #fff;
$darken-image: rgba(0, 0, 0, .4);
$nav-color: rgba(0, 0, 0, .71);

html {
  font-size: 16px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

h1 {
  font-size: 2.92rem;
}

h2 {
  font-size: 2.92rem;
}

h3 {
  font-size: 1.7em;
}

@import 'materialize-icons';
@import 'font-awesome/font-awesome';
@import 'materialize/materialize';

.click-box {
  cursor: pointer;
}
