<!DOCTYPE html>
<html>
  <head>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
    <link rel="stylesheet" href="/assets/stylesheets/application.css" media="screen,projection"/>
    <link rel="canonical" href="{{ page.url }}" />
    <script src="/assets/javascripts/modernizr-2.8.3-min.js"></script>
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
    <link rel="apple-touch-icon-precomposed" href="">
  </head>

  <body>
    {{ content }}
    <script src="/assets/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/assets/javascripts/materialize/bin/materialize.min.js"></script>
    <script src="/assets/javascripts/application.js"></script>
  </body>
</html>
