---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col s12 m8 push-m2">
      <div class="valign-wrapper">
        <div class="section valign">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h2>sa.engine</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m10 push-m1">
      <p>
        sa.engine is a groundbreaking analytic engine built with ease of use and performance in mind. It lets you respond in real-time to anomalies in data flows or handle cpu-intensive operations on massive data volumes. Our platform independent software is easy to embed and interface with other systems. Streams can be parallelized over a central or distributed cluster to achieve unmatched performance and transfer efficiency.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Real-time Analysis</span>
          <p>
            Analyze data at extreme bandwidth while performing advanced analytics. More than 10x times faster than any other system.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Analysis Language</span>
          <p>
            Our high-level query and analysis language improve productivity. Automatic generation of statistics and heuristics ensures an efficient query implementation.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Embeddable</span>
          <p>
            Small footprint software using OS independent ANSI C makes sa.engine portable and embeddable in almost any platform.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">User Defined Indexing</span>
          <p>
            The sa.engine plug-in architecture offers dynamic loading of user defined indexes for highly efficient stream matching.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Data Integration</span>
          <p>
            Connect to external data sources for stream matching and data persistance using standardized protocols and adapters.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Edge Analytics</span>
          <p>
            Extract previosly hidden business value by analyzing and reacting to real time data at the source of origin.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SA ENGINE FOR ANDROID -->
<div class="grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h2>sa.engine for Android</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m10 push-m1">
      <p>
        sa.engine is the only complex real-time streaming anytics system running on Android. Our minimal footprint together with our resouce efficient high level query language provides a range of new and disruptive use cases.
      </p>
    </div>
  </div>
</div>
<!-- Professional Services -->
<div class="grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h2>Stream Analyze Professional Services</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m10 push-m1">
      <p>
        Stream Analyze Services helps you envision the possibilities and quickly realize business value from analyzing streaming data. Our system architects and analysts are deeply experienced in the processes of building a custom tailored solution for your business.

        Using Stream Analyze´s business-first approach, we help accelerate the transformation of your company into a connected business, so you can quickly increase sales, optimize service and delight users and customers.
      </p>
    </div>
  </div>
</div>
<!-- SA ENGINE FOR ANDROID -->
<div class="grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h2>sa.amos</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m10 push-m1">
      <p>
        sa.amos is a free for non-commercial use main memory database engine which is a component in sa.engine.
      </p>
      <p>
        <a href="/sa-amos/" class="waves-effect waves-light grey btn-large">sa.amos</a>
      </p>
    </div>
  </div>
</div>
