---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col s12 m8 push-m2">
      <div class="valign-wrapper">
        <div class="section valign">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <div class="valign-wrapper">
        <div class="section valign">
          <h2>PhD Theses</h2>
          {% assign theses = site.publications | where:'categories', 'PhD Theses' %}
          {% for publication in theses %}
          <div class="click-box" data-click-url='{{ publication.download }}'>
            <h5>{{ publication.title }}</h5>
            Author: {{ publication.authors }}
            <p>
              {{ publication.content}}
            </p>
            <a href="{{ publication.download }}" target="_blank" title="Download {{ publication.title }}">
              <i class="fa fa-cloud-download" aria-hidden="true"></i> Download {{ publication.title }}
            </a>
            <p>
              ISBN: {{ publication.isbn }}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <div class="valign-wrapper">
        <div class="section valign">
          <h2>Licentiate Theses</h2>
          {% assign theses = site.publications | where:'categories', 'Licentiate Theses' %}
          {% for publication in theses %}
          <div class="click-box" data-click-url='{{ publication.download }}'>
            <h5>{{ publication.title }}</h5>
            Author: {{ publication.authors }}
            <p>
              {{ publication.content}}
            </p>
            <a href="{{ publication.download }}" target="_blank" title="Download {{ publication.title }}">
              <i class="fa fa-cloud-download" aria-hidden="true"></i> Download {{ publication.title }}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <div class="valign-wrapper">
        <div class="section valign">
          <h2>MSc Theses</h2>
          {% assign theses = site.publications | where:'categories', 'MSc Theses' %}
          {% for publication in theses %}
          <div class="click-box" data-click-url='{{ publication.download }}'>
            <h5>{{ publication.title }}</h5>
            Author: {{ publication.authors }}
            <p>
              {{ publication.content}}
            </p>
            <a href="{{ publication.download }}" target="_blank" title="Download {{ publication.title }}">
              <i class="fa fa-cloud-download" aria-hidden="true"></i> Download {{ publication.title }}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
