---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col s12 m8 push-m2">
      <div class="valign-wrapper">
        <div class="section valign">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m8 push-m2">
      <div class="valign-wrapper">
        <div class="section valign">
          {% assign phd_theses = site.publications | where:'categories', 'PhD Theses' %}
          {% for publication in phd_theses %}
          <div>
            <h5>{{ publication.title }}</h5>
            {{ publication.content}}
            <a href="{{ publication.download }}" target="_blank" title="Download {{ publication.title }}">
              <i class="fa fa-cloud-download" aria-hidden="true"></i> Download {{ publication.title }}
            </a>
            {{ publication.isbn }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
